.group-89 {
  align-items: flex-start;
  display: flex;
  height: 2627px;
  justify-content: flex-end;
  left: 80px;
  min-width: 1280px;
  opacity: 0.04;
  position: absolute;
  top: 0;
}
.line {
  height: 2627px;
  margin-left: 319px;
  mix-blend-mode: normal;
  width: 1px;
}
.line-4 {
  height: 2627px;
  mix-blend-mode: normal;
  width: 1px;
}
.line-8 {
  height: 2627px;
  margin-left: 318px;
  mix-blend-mode: normal;
  width: 1px;
}
